.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #3e89d3;
  text-decoration: underline;
}

body {
  position: relative;
  width: 29cm;  
  height: 33.7cm; 
  margin: 0 auto; 
  color: #589afc;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 50px;
}

h1 {
  border-top: 1px solid  #f7f9fa;
  border-bottom: 1px solid  #ffffff;
  color: #121314;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background-image: url(http://localhost/cotizaciones/resource/assets/icons/blanco.jpg);
}
h2 {

  color: #70b3f7;
  font-size: 1.0em;
  font-weight: normal;
  text-align: center;

}
h3 {

  color: #3089e2;
  font-size: .8em;
  font-weight: normal;
  text-align: center;

}

#project {
  float: left;
}

#project span {
  color: #232c35;
  text-align: right;
  /* width: 52px; */
  margin-right: 3px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;        
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #d9edf7;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: gray;
  border-bottom: 1px solid #6097c5;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 5px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: middle;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #77b1eb;;
}

#notices .notice {
  color: #76b3f0;
  font-size: 1.2em;
}

footer {
  color: #71b5f8;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #7abef7;
  padding: 10px 0;
  text-align: center;
}